<!DOCTYPE html>
<html lang="en" ng-app="whatever">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container-fluid">
	<div class="jumbotron">
		<h1>This Is Masons Heroku test</h1>
		<p>This is the sample of a tutorial {{12 * 2}}</p>
	</div>
</div>
<div class="container-fluid">
	<div class="jumbotron">
		<h1> Hey dad im on the internet
	</div>
</div>
</body>
</html>
