<!DOCTYPE html>
<html lang="en" ng-app="masonTest">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container-fluid">
	<div class="jumbotron">
		<h1>{{'I' + ' love' + ' you' +  ' Pooja' + ' - Mason'}}</h1>
		<h1>{{'I' +  ' also ' + ' love' + ' you' +  ' Shea' + ' - Mason'}}</h1>
	</div>
</div>
<div class="container-fluid" ng-controller="testController as test">
	<div class="jumbotron" ng-repeat="car in test.cars">
		<h1>Test: {{car.name}}</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="jumbotron">
		<form name="newCarForm">
			<p>Cars Name: {{car.name}}</p>
			<textarea ng-model="car.name"></textarea>
		</form>
	</div>
</div>
</body>
</html>
